<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <dict>
      <key>V</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>o</key>
      <integer>-70</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>A</key>
      <integer>-75</integer>
    </dict>
    <key>m</key>
    <dict>
      <key>a</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>A</key>
      <integer>-40</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>comma</key>
      <integer>-60</integer>
    </dict>
  </dict>
</plist>
