<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.schriftgestaltung.DisplayStrings</key>
  <array>
    <string>A/A.001 
B/B.001 
C/C.001 
D/D.001 
E/E.001 
F/F.001 
G/G.001 
THE/H.001 
I/I.001 
J/J.001 
K/K.001 
L/L.001 
M/M.001 
N/N.001 
O/O.001 
P/P.001 
Q/Q.001 
R/R.001 
S/S.001 
This or /T.001 his?
U/U.001 
V/V.001 
W/W.001 
X/X.001 
Y/Y.001 
Z/Z.001 

cefghijklmnorstuvwxyz
/a.001/b.001/c.001/e.001/f.001/g.001/h.001/i.001/j.001/k.001/l.001 t/m.001/n.001/o.001/r.001/s.001/t.001/u.001/v.001/w.001/x.001/y.001/z.001 
This or /T.001/h.001/i.001/s.001 ?
future formalization
efeito fulvio

abcdefpqko   /k.traditional 
paper
/p.001 a/p.001 er
prismatization
/p.001/r.001/i.001/s.001 matization

/a.001/b.001/c.001/o.001/d.001/f.001/e.001/p.001/q.001/k.traditional 

codoe
coda
c/o.001 m/o.001/d.001/o.001 re

working is key to know a stack 

wor/k.traditional ing is /k.traditional ey to /k.traditional now a stac/k.traditional 

the king lacks keys

the /k.traditional ing lac/k.traditional s /k.traditional eys
lkh</string>
  </array>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3414</string>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <false/>
  <key>com.schriftgestaltung.font.userData</key>
  <dict>
    <key>GSDimensionPlugin.Dimensions</key>
    <dict>
      <key>m01</key>
      <dict/>
    </dict>
  </dict>
  <key>com.schriftgestaltung.fontMasterID</key>
  <string>m01</string>
  <key>com.schriftgestaltung.formatVersion</key>
  <integer>3</integer>
  <key>com.schriftgestaltung.glyphOrder</key>
  <array>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>longs</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>f_b</string>
    <string>f_f</string>
    <string>f_f_b</string>
    <string>f_f_h</string>
    <string>f_f_i</string>
    <string>f_f_j</string>
    <string>f_f_k</string>
    <string>f_f_l</string>
    <string>f_h</string>
    <string>f_j</string>
    <string>f_k</string>
    <string>f_y</string>
    <string>fi</string>
    <string>fl</string>
    <string>ordfeminine.onum</string>
    <string>ordmasculine.onum</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero.lf</string>
    <string>one.lf</string>
    <string>two.lf</string>
    <string>three.lf</string>
    <string>four.lf</string>
    <string>five.lf</string>
    <string>six.lf</string>
    <string>seven.lf</string>
    <string>eight.lf</string>
    <string>nine.lf</string>
    <string>zero.osf</string>
    <string>one.osf</string>
    <string>two.osf</string>
    <string>three.osf</string>
    <string>four.osf</string>
    <string>five.osf</string>
    <string>six.osf</string>
    <string>seven.osf</string>
    <string>eight.osf</string>
    <string>nine.osf</string>
    <string>zero.tf</string>
    <string>one.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
    <string>zero.tosf</string>
    <string>one.tosf</string>
    <string>two.tosf</string>
    <string>three.tosf</string>
    <string>four.tosf</string>
    <string>five.tosf</string>
    <string>six.tosf</string>
    <string>seven.tosf</string>
    <string>eight.tosf</string>
    <string>nine.tosf</string>
    <string>space</string>
    <string>.notdef</string>
    <string>anoteleia</string>
    <string>uni037E</string>
    <string>period</string>
    <string>comma</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>question</string>
    <string>questiondown</string>
    <string>periodcentered</string>
    <string>asterisk</string>
    <string>numbersign</string>
    <string>slash</string>
    <string>backslash</string>
    <string>exclamdown.case</string>
    <string>questiondown.case</string>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>underscore</string>
    <string>uni2015</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedbl</string>
    <string>quotesingle</string>
    <string>florin</string>
    <string>uni0374</string>
    <string>uni0375</string>
    <string>at</string>
    <string>ampersand</string>
    <string>section</string>
    <string>bar</string>
    <string>cent</string>
    <string>dollar</string>
    <string>dong</string>
    <string>uni20B9</string>
    <string>plus</string>
    <string>minus</string>
    <string>equal</string>
    <string>greater</string>
    <string>less</string>
    <string>greaterequal</string>
    <string>plusminus</string>
    <string>asciitilde</string>
    <string>asciicircum</string>
    <string>percent</string>
    <string>dieresis</string>
    <string>dotaccent</string>
    <string>grave</string>
    <string>acute</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>ring</string>
    <string>tilde</string>
    <string>macron</string>
    <string>cedilla</string>
    <string>uni02D0</string>
  </array>
  <key>com.schriftgestaltung.useNiceNames</key>
  <true/>
  <key>public.glyphOrder</key>
  <array>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>longs</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>f_b</string>
    <string>f_f</string>
    <string>f_f_b</string>
    <string>f_f_h</string>
    <string>f_f_i</string>
    <string>f_f_j</string>
    <string>f_f_k</string>
    <string>f_f_l</string>
    <string>f_h</string>
    <string>f_j</string>
    <string>f_k</string>
    <string>f_y</string>
    <string>fi</string>
    <string>fl</string>
    <string>ordfeminine.onum</string>
    <string>ordmasculine.onum</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>zero.lf</string>
    <string>one.lf</string>
    <string>two.lf</string>
    <string>three.lf</string>
    <string>four.lf</string>
    <string>five.lf</string>
    <string>six.lf</string>
    <string>seven.lf</string>
    <string>eight.lf</string>
    <string>nine.lf</string>
    <string>zero.osf</string>
    <string>one.osf</string>
    <string>two.osf</string>
    <string>three.osf</string>
    <string>four.osf</string>
    <string>five.osf</string>
    <string>six.osf</string>
    <string>seven.osf</string>
    <string>eight.osf</string>
    <string>nine.osf</string>
    <string>zero.tf</string>
    <string>one.tf</string>
    <string>two.tf</string>
    <string>three.tf</string>
    <string>four.tf</string>
    <string>five.tf</string>
    <string>six.tf</string>
    <string>seven.tf</string>
    <string>eight.tf</string>
    <string>nine.tf</string>
    <string>zero.tosf</string>
    <string>one.tosf</string>
    <string>two.tosf</string>
    <string>three.tosf</string>
    <string>four.tosf</string>
    <string>five.tosf</string>
    <string>six.tosf</string>
    <string>seven.tosf</string>
    <string>eight.tosf</string>
    <string>nine.tosf</string>
    <string>space</string>
    <string>.notdef</string>
    <string>anoteleia</string>
    <string>uni037E</string>
    <string>period</string>
    <string>comma</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>question</string>
    <string>questiondown</string>
    <string>periodcentered</string>
    <string>asterisk</string>
    <string>numbersign</string>
    <string>slash</string>
    <string>backslash</string>
    <string>exclamdown.case</string>
    <string>questiondown.case</string>
    <string>hyphen</string>
    <string>endash</string>
    <string>emdash</string>
    <string>underscore</string>
    <string>uni2015</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotedbl</string>
    <string>quotesingle</string>
    <string>florin</string>
    <string>uni0374</string>
    <string>uni0375</string>
    <string>at</string>
    <string>ampersand</string>
    <string>section</string>
    <string>bar</string>
    <string>cent</string>
    <string>dollar</string>
    <string>dong</string>
    <string>uni20B9</string>
    <string>plus</string>
    <string>minus</string>
    <string>equal</string>
    <string>greater</string>
    <string>less</string>
    <string>greaterequal</string>
    <string>plusminus</string>
    <string>asciitilde</string>
    <string>asciicircum</string>
    <string>percent</string>
    <string>dieresis</string>
    <string>dotaccent</string>
    <string>grave</string>
    <string>acute</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>breve</string>
    <string>ring</string>
    <string>tilde</string>
    <string>macron</string>
    <string>cedilla</string>
    <string>uni02D0</string>
    <string>A.001</string>
    <string>B.001</string>
    <string>C.001</string>
    <string>D.001</string>
    <string>E.001</string>
    <string>F.001</string>
    <string>G.001</string>
    <string>H.001</string>
    <string>I.001</string>
    <string>J.001</string>
    <string>K.001</string>
    <string>L.001</string>
    <string>M.001</string>
    <string>N.001</string>
    <string>O.001</string>
    <string>P.001</string>
    <string>Q.001</string>
    <string>R.001</string>
    <string>S.001</string>
    <string>T.001</string>
    <string>U.001</string>
    <string>V.001</string>
    <string>W.001</string>
    <string>X.001</string>
    <string>Y.001</string>
    <string>Z.001</string>
    <string>a.001</string>
    <string>b.001</string>
    <string>c.001</string>
    <string>d.001</string>
    <string>e.001</string>
    <string>f.001</string>
    <string>g.001</string>
    <string>h.001</string>
    <string>i.001</string>
    <string>j.001</string>
    <string>k.001</string>
    <string>l.001</string>
    <string>m.001</string>
    <string>n.001</string>
    <string>o.001</string>
    <string>p.001</string>
    <string>q.001</string>
    <string>r.001</string>
    <string>s.001</string>
    <string>t.001</string>
    <string>k.traditional</string>
    <string>u.001</string>
    <string>v.001</string>
    <string>w.001</string>
    <string>x.001</string>
    <string>y.001</string>
    <string>z.001</string>
    <string>TEST</string>
  </array>
</dict>
</plist>
